@charset 'utf-8';

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,input,textarea,select,button {
  font-family: "Roboto", "Noto Sans KR", "돋움", "AppleSDGothicNeo", sans-serif;
  font-size: 16px;
}
fieldset,img {border: 0;}
img {vertical-align: top;}
li,ol,ul {list-style: none;}
address,em,i {font-style: normal;}
a {text-decoration: none;color:inherit;}
table {border-collapse: collapse; border-spacing: 0;}
h1,h2,h3,h4,h5,h6,strong,th,b,em {font-weight: normal;}
button {
  border: 0;
  background: none;
  -webkit-appearance: none;
}
button:hover {cursor: pointer;}
input {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
caption {text-indent: -9999px;font-size: 0;}
body, html {height: 100%;
  font-style: normal;
  line-height: 1em;
  -webkit-text-size-adjust: none;
}

/* Common */
:root {
  --orange : #e1723b;
  --green : #204a42;
}
.container {width: 80%; margin: auto;}
.blind {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.clrfix:after {content: ""; display: block; clear: both;}

/*Skip_Nav*/
.skip_nav a {
  display: block;
  padding: 10px 0;
  position: absolute;
  left: 0;right: 0;top: -36px;
  background: #000;
  color: #fff;
  text-align: center
}

.skip_nav a:focus {top: 0;}

/* 공통 */
/* header */
header {
  position: fixed;left: 0;right: 0;top: 0;
  border-bottom: 1px solid #999;
  background: #fff;
  z-index: 9999;
}
header h1 {float: left; padding: 32px 0;}
header h1 a {
  display: block;
  width: 170px;height: 25px;
  background-image: url(../img/logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

header .util {float: right; margin-top: 35px;}
header .util img {width: 20px;height: 20px;}

header .allmenu_wrap {color: #333;}
header .allmenu_box {
  display: none;
  background: #fff;
  position: fixed;
  left: 0;right: 0;top: 0;bottom: 0;
  z-index: 999;
}
header .allmenu_box .all_close_btn {position: absolute; top: 34px;}

/* footer */
footer {padding-bottom: 100px;}
footer .footer_menu {
  border: 1px solid #ddd;margin-bottom: 50px;
}
footer .footer_menu ul {overflow: hidden;}
footer .footer_menu li {float: left;}
footer .footer_menu li:after {
  content: "";
  display: inline-block;
  width: 1px;height: 12px;
  background: #666;
}
footer .footer_menu li:last-child:after {display: none;}
footer .footer_menu li:nth-child(4) a {color: var(--orange);}
footer .footer_menu li a {
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  color: #666;
}
footer .footer_menu li:first-child a {padding-left: 0;}

footer .customer_wrap {width: 100%; margin-bottom: 40px;}
footer .customer_wrap em {
  display: block;
  margin-bottom: 20px;
  color: var(--orange);
  font-size: 16px;
  font-weight: 700;
}
footer .customer_wrap p {font-size: 45px; font-weight: 700;}

footer .familysite_wrap {}
footer .familysite_wrap .fam_btn {position: relative;}
footer .familysite_wrap .fam_btn button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #AAA;
  color: #666;font-weight: 500;
  font-size: 16px;border-radius: 35px;
}
footer .familysite_wrap .fam_btn button.on {border-radius: 0;}
footer .familysite_wrap .fam_btn button:hover {}
footer .familysite_wrap .fam_btn button span {
  display: inline-block;
  width: 12px;height: 12px;
  margin-left: 30px;
  background: url(../img/footer_family_ico.png) no-repeat center;
  background-size: contain;
  transform: rotate(90deg);
}/* 화살표 이미지 */


footer .familysite_wrap ul {
  display: none;/*height: 0;overflow: hidden;
  /*border: 1px solid #666;*/
  border-bottom: none;
  position: absolute;
  left: 0;right: 0;bottom: 46px;
}
footer .familysite_wrap li {line-height: 30px;margin-top: -1px;}
footer .familysite_wrap li a {
  display: block;
  padding-left: 20px;
  border: 1px solid #AAA;
  background: #fff;
  color: #999;
}
/* footer .familysite_wrap li:first-child a {border-top: none;} */
footer .familysite_wrap li:hover a {
  background: #ddd;
  color: #333;
  font-weight: 500;
}

footer address {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 20px;
  color: #666;
  font-size: 14px;
}
footer .copy {color: #666; font-size: 14px;}


/* main */
main h2 {
  line-height: 1em;
  font-size: 26px;
  font-weight: 700;
}
main .more_btn a {
  padding: 14px 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  color: var(--green);
  font-weight: 500;
}

main .visual_wrap {
  display: block;
 
}
main .visual_wrap {margin-top: 90px;}
main .visual_wrap .visual_box .visual_bg {width: auto;height:600px;margin: auto;
  background-size: cover;background-position: center;background-repeat: no-repeat;
}
main .visual_wrap .visual_box li:nth-child(1) {background-image: url(../img/visual_1.png);}
main .visual_wrap .visual_box li:nth-child(2) {background-image: url(../img/visual_2.png);}
main .visual_wrap .visual_box li:nth-child(3) {background-image: url(../img/visual_3.png);}
main .visual_wrap .visual_box .visual_bg a {}

/* quickmenu */
main .quickmenu_wrap, main .product_wrap {text-align: center;}
main .quickmenu_wrap {overflow: hidden;}
main .quickmenu_wrap li {
  float: left;
  margin: 0 15px;
  margin-bottom: 30px;
  border: 1px solid var(--green);
  border-radius: 30px;
}
main .quickmenu_wrap li a {
  display: block;width: 100%;height: 100;
  color: var(--green);
}
main .quickmenu_wrap li .ico {
  display: block;
  width: 70px;height: 70px;
  margin: auto;
  background-image: url(../img/pc_content_ico.png);
  background-repeat: no-repeat;
  background-size: 500px 490px;
}

main .quickmenu_wrap li:nth-child(1) .ico {background-position:0 0;}
main .quickmenu_wrap li:nth-child(2) .ico {background-position:0 -70px;}
main .quickmenu_wrap li:nth-child(3) .ico {background-position:0 -140px;}
main .quickmenu_wrap li:nth-child(4) .ico {background-position:0 -210px;}
main .quickmenu_wrap li:nth-child(5) .ico {background-position:0 -280px;}
main .quickmenu_wrap li:nth-child(6) .ico {background-position:0 -350px;}
main .quickmenu_wrap li:nth-child(7) .ico {background-position:0 -420px;}


main .quickmenu_wrap li:hover:nth-child(1) .ico {background-position:-70px 0;}
main .quickmenu_wrap li:hover:nth-child(2) .ico {background-position:-70px -70px;}
main .quickmenu_wrap li:hover:nth-child(3) .ico {background-position:-70px -140px;}
main .quickmenu_wrap li:hover:nth-child(4) .ico {background-position:-70px -210px;}
main .quickmenu_wrap li:hover:nth-child(5) .ico {background-position:-70px -280px;}
main .quickmenu_wrap li:hover:nth-child(6) .ico {background-position:-70px -350px;}
main .quickmenu_wrap li:hover:nth-child(7) .ico {background-position:-70px -420px;}

main .quickmenu_wrap li:hover {border: 1px solid var(--orange);}
main .quickmenu_wrap li:hover p {color: var(--orange);}

main .quickmenu_wrap li p {
  margin-top: 20px;
  color: var(--green);
  font-size: 20px;
  font-weight: 400;
}
/* slick */
main .quickmenu_wrap .slick-arrow {
  width: 0;height: 0;
  overflow: hidden;
}
main .quickmenu_wrap .slick-dots {
  width: 0;height: 0;
  overflow: hidden;
}

/* product_wrap */
main .product_wrap .content {margin: auto; position: relative;}
main .product_wrap .content ul {overflow: hidden;}
main .product_wrap .content li {
  float: left;
  width: 250px;
  margin: 15px;
  margin-bottom: 65px;
}
main .product_wrap .content li a {display: block;}
main .product_wrap .content li a img {
  width: 100%;height: auto;
  border: 1px solid #ccc;
  border-radius: 30px;
}
main .product_wrap .content li a p {
  font-size: 20px;
  margin-top: 20px;
  color: var(--green);
}

main .product_wrap .prod_slider {
  position: relative;
  position: absolute;
  left: 50%;right: 0;
  transform: translateX(-50%);
}
main .product_wrap .prod_slider span {display: block; position: absolute;}

main .product_wrap .prod_slider .slider_off {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  left: 0;top: 0;
}
main .product_wrap .prod_slider .slider_on {
  height: 10px;
  background: var(--orange);
  border-radius: 5px;
  left: 0;top: 0;
  z-index: 1;
}
/* product_wrap_slcik */
main .product_wrap .content .mo_prod_prev {
  background-image: url(../img/arrow_button.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;top: calc(50% - 60px);
  transform: translateY(-50%) rotate(180deg);
}
main .product_wrap .content .mo_prod_next {
  background-image: url(../img/arrow_button.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 60px);
  transform: translateY(-50%);
}

 /* event_btn*/
 main .event_wrap {text-align: center;position: relative;}
 main .event_wrap .event_cont img {width: 100%;}
 main .event_wrap .event_cont .event_box {}
 main .event_wrap .event_cont li {border: 1px solid #ccc;padding: 1px;}
 /* slick */
 main .event_wrap .slick-arrow {}
 main .event_wrap .event_btn .event_prve {
   width: 44px;height: 80px;
   background-image: url(../img/arrow_button.png);
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   left: calc(10% - 64px);top: 50%;
   transform: translateY(-50%) rotate(180deg);
  }
 main .event_wrap .event_btn .event_next {
  width: 44px;height: 80px;
  background-image: url(../img/arrow_button.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: calc(10% - 64px);top: 50%;
  transform: translateY(-50%);
 }

 main .event_wrap .slick-dots {
   text-align: center;
   margin-top: 30px;
  }
 main .event_wrap .slick-dots li {
   display: inline-block;
   width: 15px;height: 15px;
   margin: 0 3px;
   background: #ccc;
   border-radius: 50%;
  }
 main .event_wrap .slick-dots .slick-active {
   width: 30px;height: 15px;
   border-radius: 15px;
   background: var(--orange);
  }
 main .event_wrap .slick-dots button {
   width: 0;height: 0;
   overflow: hidden;
  }

  main .more_btn {margin-top: 60px;}

 main .quick_info_wrap {}}
 main .quick_info_wrap .cont_wrap {width: 100%;} 
 main .quick_info_wrap .cont_wrap .content {float: left;border-radius: 30px;}
 main .quick_info_wrap .cont_wrap .content:nth-child(1) {background: #cc9966;}
 main .quick_info_wrap .cont_wrap .content:nth-child(2) {background: #cc6633;}
 main .quick_info_wrap .cont_wrap .content:nth-child(3) {margin-right: 0;background: #333333;}
 main .quick_info_wrap .cont_wrap .content a {display: block;width: 100%;color: #fff;}
 main .quick_info_wrap .cont_wrap .content strong {display: block;font-weight: 600;}
 main .quick_info_wrap .cont_wrap .content .quick_info_ico {
   display: block;
   float: right;
   background-repeat: no-repeat;
   background-size: 500px 490px;
  }

main .news_wrap {margin-bottom: 100px;}
main .news_wrap .news_cont {
  width: 100%;
  border: 1px solid #999;
  position: relative;
}
main .news_wrap .news_cont strong {
  display: inline-block;
  color: var(--orange);
}

main .news_wrap .news_cont p {
  display: inline-block;
  color: #333;
}
main .news_wrap .news_cont span {
  float: right;
  color: #999;
}
main .news_wrap .news_cont img {
  float: right;
  position: absolute;
}

@media screen and  (min-width: 1200px) { /* 피씨 */
  /* pc */
  [class^="mo_"] {display: none;}
  header .login_wrap {float: left;margin-right: 20px;}

  header .search_wrap {float: left;margin-right: 20px;}
  header .search_box {
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    z-index: 1;
  }
 
  header .search_box form {
    width: 900px;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    left: 50%;top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
  header .search_box form input {
    width: 100%;height: 60px;
    padding: 0 20px;
  }
  header .search_box form .search_box_btn {
    padding: 20px;
    position: absolute;
    right: 0;top: 50%;
    transform: translateY(-50%);
  }
  header .search_box form .search_box_btn img {width: 20px;height: 20px;}
  header .search_box form .search_close_btn {
    position: absolute;
    right: 0;top: -30px;
  }
  header .search_box form .search_close_btn img {width: 15px;height: 15px;}
  

  /* pc-all menu */
  header .allmenu_wrap {float: left;}
  header .allmenu_box .all_close_btn {right: 5%;top: 90px;}
  
  header .allmenu_box .a1 {
    height: 100%;
    padding: 50px 0;
    margin: 0 100px;
    overflow: hidden;
    text-align: center;
  }
  header .allmenu_box .a1>li {
    float: left;
    width: 20%;height: 50%;
    padding-right: 55px;
  }
  header .allmenu_box .a1>li>a {
    display: inline-block;
    margin-bottom: 15px;
    line-height: 2em;
    position: relative;
    font-size: 24px;
    font-weight: 700;
  }
  header .allmenu_box .a1>li>a:after {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    left: 50%;bottom: 0;
    transition: all .5s;
  }
  header .allmenu_box .a1>li>a:before {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    right: 50%;bottom:0;
    transition: all .5s;
  }
  header .allmenu_box .a1>li>a:hover:after {width: 50%;}
  header .allmenu_box .a1>li>a:hover:before {width: 50%;}

  header .allmenu_box .a2 {text-align: center;}
  header .allmenu_box .a2>li>a {
    display: inline-block;
    line-height: 2em;
    position: relative;
    
    font-size: 16px;color: #333;
  }  header .allmenu_box .a2>li>a:after {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    left: 50%;bottom: 0;
    transition: all .5s;
  }
  header .allmenu_box .a2>li>a:before {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    right: 50%;bottom:0;
    transition: all .5s;
  }
  header .allmenu_box .a2>li>a:hover {color: var(--orange);}
  header .allmenu_box .a2>li>a:hover:after {width: 50%;}
  header .allmenu_box .a2>li>a:hover:before {width: 50%;}


  /* pc-GNB */
  header.gnb_bg:after {
    content:"";
    display: block;
    width: 100%;height: 270px;
    border-top: 1px solid #999;
    background: #ccc;
    opacity: 0.5;
  }
  header .gnb_wrap {text-align: center;}
  header .gnb_wrap .g1 {}
  header .gnb_wrap .g1>li {
    display: inline-block;
    line-height: 90px;
    position: relative;
  }
  header .gnb_wrap .g1>li>a {
    display: inline-block;
    margin: 0 44px;
    position: relative;
  }
  header .gnb_wrap .g1>li>a:after {
    content: "";
    width:0;height: 2px;
    background: var(--orange);
    position: absolute;
    left: 50%;bottom: 0;
    transition: all .5s;
  }
  header .gnb_wrap .g1>li>a:before {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    right: 50%;bottom:0;
    transition: all .5s;
  }
  header .gnb_wrap .g1>li>a:hover:after {width: 50%;}
  header .gnb_wrap .g1>li>a:hover:before {width: 50%;}

  header .gnb_wrap .g2 {
    display: none;
    padding-top: 20px;
    line-height: 2;
    position: absolute;
    left: 0;right: 0;top: 90px;
    z-index: 10;
    text-align: center;
  }
  header .gnb_wrap .g2>li>a {
    display: inline-block;
    position: relative;
  }
  header .gnb_wrap .g2>li>a:before {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    left: 50%;bottom: 0;
    transition: all .5s;
  }
  header .gnb_wrap .g2>li>a:after {
    content: "";
    width: 0;height: 2px;
    background: var(--orange);
    position: absolute;
    right: 50%;bottom: 0;
    transition: all .5s;
  }
  header .gnb_wrap .g2>li>a:hover {color: var(--orange);}
  header .gnb_wrap .g2>li>a:hover:after {width: 50%;}
  header .gnb_wrap .g2>li>a:hover:before {width: 50%;}



  /* pc-footer */
  footer .footer_menu li a {padding: 20px;font-size: 16px;}

  footer .customer_wrap {float: left;width: 50%;}
  footer .familysite_wrap {float: right;}

  footer address {width: 50%;}
  /* pc-main */
  /* pc-quick-menu */
  section {margin-top: 150px;}
  main h2 {font-size: 36px;margin-bottom: 100px;}

  main .quickmenu_wrap li {width: 189px;height: 189px;}
  main .quickmenu_wrap li:last-child {margin-right: 0;}
  main .quickmenu_wrap li a {padding-top: 45px;}
  main .quickmenu_wrap li p {margin-top: 30px;font-size: 24px;}
  
/* pc-product */
  main .product_wrap {text-align: center;}
  main .product_wrap .content {margin: auto;}
  main .product_wrap .content li {width: calc(100% / 4 - 22.5px);}
  main .product_wrap .content li:nth-child(4) {margin-right: 0;}

  main .product_wrap .prod_slider {width: 800px;}
  
  main .product_wrap .prod_slider .slider_off {width: 800px;height: 10px;}
  main .product_wrap .prod_slider .slider_on {width: 200px;}

  main .product_wrap .more_btn {margin-top: 100px;}
 
  

  /* pc-event_btn*/
  main .event_wrap {text-align: center;}

  /* slick */
  main .event_wrap .slick-list {padding: 50px 0 !important;}
  main .event_wrap .slick-center {transform: scale(1.3);transition: all 0.5s;}

  main .quick_info_wrap .cont_wrap .content {width: calc(100% / 3 - 20px);margin-right: 30px;}
  main .quick_info_wrap .cont_wrap .content a {height: 200px;padding: 45px 45px 0 45px;}
  main .quick_info_wrap .cont_wrap .content strong {font-size: 26px;}
  main .quick_info_wrap .cont_wrap .content .pc_txt {display: inline-block;font-size: 18px;margin-top: 30px;line-height: 1.3em;}

  main .quick_info_wrap .cont_wrap .content .quick_info_ico {
    width: 80px;height: 80px;
    background-image: url(../img/pc_content_ico.png);
  }
  
  main .quick_info_wrap .cont_wrap .content:nth-child(1) .quick_info_ico {background-position: -420px -3px;}
  main .quick_info_wrap .cont_wrap .content:nth-child(2) .quick_info_ico {background-position: -420px -84px;}
  main .quick_info_wrap .cont_wrap .content:nth-child(3) .quick_info_ico {background-position: -420px -169px;}
  
  
  main .news_wrap .news_cont {
    height: 50px;line-height: 50px;
  }
  main .news_wrap .news_cont strong {
    padding-left: 30px;
    font-size: 18px;
  }
  main .news_wrap .news_cont strong:after {
    content: "";
    display: inline-block;
    width: 1px;height: 12px;
    background: #999;
    margin-left: 30px;
  } 
  main .news_wrap .news_cont p {
    padding-left: 30px;
    font-size: 16px;
  }
  main .news_wrap .news_cont span {
    padding-left: 30px;
    margin-right: 55px;
  }
  main .news_wrap .news_cont img {
    width: 18px;
    height: 18px;
    right: 30px;
    top: calc(50% - 9px);
  }
}
@media screen and  (max-width: 1199px) { /* 태블릿 */
  [class^="pc_"] {display: none;}
  header .login_wrap {display: none;}
  header .search_wrap {display: none;}

  /* tab-allmenu */
  header .allmenu_wrap.allmenu_bg:after {
    content: "";
    display: block;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    z-index: 99;
  }
  header .allmenu_box {left: 50%;}
  header .allmenu_box .all_close_btn {right: 10%;}
  header .allmenu_box .a1>li {position: relative;}
  header .allmenu_box .a1>li>a {
    display: block;
    padding: 15px 20px;
    border-top: 1px solid #ccc;
    position: relative;
    font-size: 18px;
    font-weight: 600;
  }
  header .allmenu_box .a1>li:last-child {border-bottom: 1px solid #ccc;}

  header .allmenu_box .a2 {background: #ddd;display: none;}
  header .allmenu_box .a2>li {border-bottom: 1px solid #ccc;}
  header .allmenu_box .a2>li:last-child {border-bottom: none;}
  header .allmenu_box .a2>li>a {
    display: block;
    padding: 15px 30px;
    color: #333;
  }
  header .allmenu_box .a2>li:first-child>a {border-top: 1px solid #ccc;}

  
  .allmenu_box .dep1>a:before, .allmenu_box .dep1>a:after {
    content: "";
    display: block;
    background: #CCC;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .allmenu_box .dep1>a:before {width: 18px;height: 2px;right: 5%;}
  .allmenu_box .dep1>a:after {width: 2px;height: 18px;right: calc(5% + 8px);}

  header .gnb_wrap .g1 {display: none;}
  /* tab-main */
  section {margin-top: 100px;}
  main h2 {margin-bottom: 80px;}
  

  main .quickmenu_wrap li {width: 165px;height: 165px;}

  main .quickmenu_wrap li a {padding-top: 25px;}
  main .quickmenu_wrap li p {font-size: 20px;margin-top: 20px;}
  main .product_wrap .content li {width: 250px;}
  main .product_wrap .prod_slider {width: 500px;}
  main .product_wrap .prod_slider .slider_off {width: 500px;}
  main .product_wrap .prod_slider .slider_on {width: 125px;}
  

  main .product_wrap .content .mo_prod_prev {
    width: 44px;height: 80px;
    left: -44px;
  }
  main .product_wrap .content .mo_prod_next {
    width: 44px;height: 80px;
    right: -44px;
  }
  /* tab-quick_info_wrap*/
  main .quick_info_wrap {}
  main .quick_info_wrap .cont_wrap .content {width: 100%;margin-bottom: 20px;}
  main .quick_info_wrap .cont_wrap .content a {padding: 20px 30px;line-height: 60px;}
  main .quick_info_wrap .cont_wrap .content strong {display: inline-block;font-size: 20px;}
  main .quick_info_wrap .cont_wrap .content .quick_info_ico {
    display: inline-block;
    width: 60px;height: 60px;
    background-image: url(../img/mo_content_ico.png);
  }

  main .quick_info_wrap .cont_wrap .content:nth-child(1) .quick_info_ico {background-position: -420px 0;}
  main .quick_info_wrap .cont_wrap .content:nth-child(2) .quick_info_ico {background-position: -420px -64px;}
  main .quick_info_wrap .cont_wrap .content:nth-child(3) .quick_info_ico {background-position: -420px -134px;}

  /* tab- news_wrap*/
  main .event_wrap .event_btn .event_prve {
    width: 22px;height: 40px;
    left: calc(10% - 42px);
   }
  main .event_wrap .event_btn .event_next { 
   width: 22px;height: 40px;
  right: calc(10% - 42px);
  }

  /* mob-news_wrap */
  main .news_wrap {margin-bottom: 100px;}
  main .news_wrap .news_cont {
    height: 50px;
    line-height: 50px;
  }
  main .news_wrap .news_cont strong {
    display: inline-block;
    padding-left: 5px;
    position: absolute;left: 0;top: -45px;
    font-size: 18px;
  }
  main .news_wrap .news_cont strong:after {display: none;}
  main .news_wrap .news_cont p {
    width: 75%;
    padding-left: 20px;
    font-size: 16px;
    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
  }
  main .news_wrap .news_cont span {
    width: 80px;
    font-size: 16px;
    margin-right: 40px;
  }
  main .news_wrap .news_cont img {
    width: 15px;
    height: 15px;
    right: 15px;
    top: calc(50% - 7px);
  }
}
@media screen and (max-width: 720px) { /* 모바일 */

  /* mob-header */
  header .allmenu_box {left: 100px;}
  header .allmenu_box .all_close_btn {right: 5%;}

  /* mob-main */
  main h2 {margin-bottom: 50px;}
  main .more_btn a {padding: 12px 20px;font-size: 14px;}
  main .quickmenu_wrap li {
    float: left;
    width: 150px;height: 150px;
    margin: 0 10px;
    overflow: hidden;
  }
  main .quickmenu_wrap li a {padding-top: 20px;}
  
  main .quickmenu_wrap li p {font-size: 18px;margin-top: 10px;}


  /* mob-product_wrap */
  main .product_wrap .prod_slider {display: none;}
  /* mob-product_wrap_slick */
  main .product_wrap .content .mo_prod_prev {
    width: 22px;height: 40px;
    left: -22px;
  }
  main .product_wrap .content .mo_prod_next {
    width: 22px;height: 40px;
    right: -22px;
  }

  /* mob-event_wrap_slick */
  main .event_wrap .event_btn .event_prve {
    width: 22px;height: 40px;
    left: calc(10% - 42px);
   }
  main .event_wrap .event_btn .event_next { 
   width: 22px;height: 40px;
  right: calc(10% - 42px);
  }

  /* mob-news_wrap */
  main .news_wrap .news_cont {height: 40px; line-height: 40px;}
  main .news_wrap .news_cont strong {top: -40px; font-size: 16px;}
  main .news_wrap .news_cont p {
    width: 70%;
    padding-left: 15px;
    font-size: 14px;
  }
  main .news_wrap .news_cont span {margin-right: 25px;font-size: 14px;}
}