@charset "utf-8";

/*Common*/
body {
  font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic', 'Dotum', sans-serif;
  font-size: 18px;
}

section {
  min-height: 800px;
  padding-top: 160px;
}

section h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

button {
  cursor: pointer;
  line-height: 1;
  background: transparent;
  border: none;
}

.blind {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.container {
  width: 1300px;
  margin: auto;
}

.clrfix:after {
  content: "";
  display: block;
  clear: both;
}

/*Header*/
header {
  padding: 30px 5%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.3s
}

header h1 {
  width: 136px;
  height: 30px;
  float: left;
  background: url(../../img/logo_sample_w.png) no-repeat;
  background-size: contain !important;
  cursor: pointer;
  transition: all 0.3s
}

header #gnb {
  float: right;
}

header #gnb li {
  float: left;
  margin-left: 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s
}

/*홈이 아닌 다른 페이지일 때 헤더의 스타일 변경*/
header.bg_on {
  background: #FFF;
  padding: 20px 5%;
  border-bottom: 1px solid #999;
  transition: all 0.3s
}

header.bg_on h1 {
  width: 115px;
  height: 25px;
  background: url(../../img/logo_sample.png);
  transition: all 0.3s
}

header.bg_on #gnb li {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  transition: all 0.3s
}

/* footer */
footer {
  padding: 40px;
  background: #222;
  font-size: 15px;
  line-height: normal;
  color: #ababab;
}

footer p {
  text-align: center;
  color: #525252;
}

/*Home*/
#home {
  height: 100vh;
  padding-top: 0;
  background: url(../../img/bg.jpg) center;
  background-size: cover;
}

#home .home_bg {
  height: 100%;
  position: relative;
  background: url(../../img/home_bg.jpg);
  color: #FFF;
  text-align: center;
}

#home .home_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%)
}

#home .home_txt h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

@keyframes scroll {
  0% {
    bottom: 100px;
  }

  50% {
    bottom: 80px;
  }

  100% {
    bottom: 100px;
  }
}

#home .scroll {
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  animation: scroll 0.8s infinite;
  cursor: pointer;
}

/*About Me*/
#about {
  position: relative;
  background: #555;
  color: #dedede;
}

#about .about_info {}

#about .introduce {
  float: left;
  text-align: center;
  margin-right: 30px;
}

#about .introduce img {
  display: inline-block;
  width: 380px;
  height: 380px;
  background: url(../../img/kangsun.png) no-repeat center;
  background-size: cover;
}

#about .introduce p {
  font-size: 22px;
  line-height: normal;
}

#about .introduce p span {
  font-size: 16px;
  display: block;
  margin-top: 5px;
}

#about .introduce .author {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

#about .career {
  float: right;
  margin-top: 40px;
}

#about .career h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
}

#about .career ul {
  font-size: 16px;
}

#about .career li span {
  margin-bottom: 8px;
  font-size: 16px;
  display: block;
}

#about .career li strong {
  font-size: 18px;
}

#about .personal_info {
  width: 268px;
  float: left;
}

#about .personal_info li {
  margin-top: 8px;
}

#about .license {
  width: 268px;
  float: left;
}

#about .license li {
  margin-top: 8px;
}

#about .academic {
  width: 268px;
  float: left;
}

#about .academic li {}

#about .academic li span {}

#about .academic li strong {}

#about .skill {
  float: right;
  margin: 70px 10px 0 0;
}

#about .skill::before {
  content: "";
  display: block;
  width: 780px;
  height: 3px;
  background: #f1f1f1;
  margin-left: 10px;
}

#about .skill h3 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: 600;
  color: #f1f1f1;
  margin-top: 70px;
}

#about .skill ul {}

#about .skill li {
  display: inline-block;
  padding: 15px;
  width: 100px;
  height: 100px;
}

#about .skill li {
  background: url(/img/me.jpg);
  position: relative;
}

#about .skill li:hover img {}

#about .skill li img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#about .skill li span {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: 700;
  font-size: 24px;
  color: #f1f1f1;
}



/*Web Work*/
#work1 {
  background: #f5f5f5;
  position: relative;
}

#work1 .web_swiper {
  width: 1200px;
  height: 500px;
  margin: auto;
  position: relative;
}

#work1 .web_slide {
  width: 1200px;
  float: left;
  height: 500px;
  background: #fff;
  border: 1px solid #bbb;
}

#work1 .web_slide:after {
  content: "";
  display: block;
  clear: both;
}

#work1 .web_slide img {
  float: right;
  width: 60%;
  height: 100%;
  background-size: cover !important;
}

#work1 .web_slide img.web1 {
  background: url(../../img/work1_jiran.png) center;
}

#work1 .web_slide img.web2 {
  background: url(../../img/work1_jiran.png) center;
}

#work1 .web_slide img.web3 {
  background: url(../../img/work1_bosung.png) center;
}

#work1 .web_slide img.web4 {
  background: url(../../img/work1_jiran.png) center;
}

#work1 .web_slide img.web5 {
  background: url(../../img/work1_komsco.png) center;
}

#work1 .web_slide img.web6 {
  background: url(../../img/work1_kakao.png) center;
}

#work1 .web_slide .web_txt {
  float: left;
  width: 35%;
  padding: 30px;
  background: #f1f1f1;
  height: 100%;
}

#work1 .web_slide .web_txt .work_title {
  font-size: 26px;
  margin: 30px 0;
  text-align: center;
  font-weight: 700;
  color: #333;
}

#work1 .web_slide .web_txt .work_summary {
  height: 300px;
}

#work1 .web_slide .web_txt .work_summary.nhn_h {
  height: 230px;
}

#work1 .web_slide .web_txt .work_summary .work_tag {
  width: 100%;
  text-align: center;
}

#work1 .web_slide .web_txt .work_summary .work_tag li {
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500;
  background: pink;
  border-radius: 9px;
  padding: 2px;
  color: #333;
}

#work1 .web_slide .web_txt .work_summary .work_explain {
  text-align: center;
  margin-top: 50px;
}

#work1 .web_slide .web_txt .work_summary .work_explain li {
  display: inline-block;
  line-height: 2em;
  width: 100%;
}


#work1 .web_slide .web_txt .link a {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #999;
  background: #fff;
}

#work1 .web_slide .web_txt .link.nhn_link a {
  margin-bottom: 10px;
  margin-right: 10px;
}

#work1 .web_slide .web_txt .sub_link a {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #999;
  background: #fff;
}

#work1 .web_prev {
  position: absolute;
  left: calc(50% - 670px);
  top: 50%;
  z-index: 10;
}

#work1 .web_next {
  position: absolute;
  right: calc(50% - 690px);
  top: 50%;
  z-index: 10;
}

#work1 .web_scrollbar {
  width: 1200px;
  height: 3px;
  margin: auto;
  background: #ededed;
  margin-top: 10px;
}

#work1 .web_pagination {
  width: auto;
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
  bottom: auto;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

#work1 .web_pagination span {
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
  font-size: 24px;
}

/*Graphic Work*/
#work2 {}

#work2 .tabs {
  text-align: center;
  margin-bottom: 40px;
}

#work2 .tabs li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 500;
}

#work2 .tabs li.on {
  color: green
}

#work2 .tabs li.on:after {
  content: "";
  display: block;
  height: 3px;
  background: green;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
}

#work2 .work_thumb {
  margin-bottom: 160px;
}

#work2 .work_thumb li {
  width: 413px;
  max-height: 350px;
  float: left;
  margin: 10px;
  position: relative;
  border: 1px solid #aaa;
  overflow: hidden;
  box-sizing: border-box;
}

#work2 .work_thumb img {
  width: 100%;
  box-sizing: border-box;
}

#work2 .work_thumb span {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  text-align: center;
}

#work2 .work_thumb strong {
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#work2 .work_thumb i {
  display: block;
  margin-top: 15px;
}

/*Contact*/
#contact {
  background: #f5f5f5;
  min-height: 600px;
}

#contact .contact_txt {
  text-align: center;
}

#contact .contact_txt strong {
  font-size: 30px;
}

#contact .contact_txt p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

#contact .contact_info {
  text-align: center;
}

#contact .contact_info div {
  display: inline-block;
  width: 300px;
  margin-right: 45px;
  text-align: center;
  margin-top: 100px;
}

#contact .contact_info div.curriculum {
  margin-right: 0;
}

#contact .contact_info a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  padding: 30px 0;
}

#contact .contact_info div:hover a {
  background: #fff;
}

#contact .contact_info img {
  width: 50px;
  height: 50px;
}

#contact .contact_info p {
  margin-top: 20px;
}